.bash
__pycache__
venv
.venv
scripts/migrations/versions/*
!scripts/migrations/versions/.gitkeep
.mypy_cache
.ruff_cache
.vscode
scripts/envs/*
!scripts/envs/.gitkeep
scripts/secrets.bash
test.py

t0d0d0d0/sheduler/sheduler
t0d0d0d0/ditest.py
