.air-datepicker {
    --adp-font-family: "Source Code Pro", monospace;
    --adp-day-name-color: var(--blue-color);
    background: var(--black-color);
    --adp-color-other-month: var(--gray-color);
    --adp-color-current-date: var(--green-color);
    --adp-cell-background-color-selected: var(--green-color);
    --adp-poiner-border-radius: 0; 
    --adp-cell-border-radius: 0;
    --adp-border-radius: 0;
    --adp-color: var(--white-color);
    --adp-cell-background-color-selected-hover: var(--black-color);
    box-shadow: 20px 20px 0px 0px rgba(0, 0, 0, 1);
    --adp-transition-duration: 0s;
}
.air-datepicker.-bottom-left-.-from-bottom-.-is-mobile-.-active- {
    border: var(--white-color) solid 1px;
}
.air-datepicker-overlay.-active- {
    opacity: 0;
}
.air-datepicker-cell.-selected- {
    color: var(--black-color);
}

.air-datepicker-cell.-day-:hover {
    color: var(--black-color);
}
.-selected-.air-datepicker-cell.-day-:hover {
    outline:1px solid var(--green-color);
    outline-offset:-1px;
    color: var(--green-color);
}

.air-datepicker-nav--title:hover {
    color: var(--black-color);
}
.air-datepicker-cell.-month-:hover {
    color: var(--black-color);
}
.-selected-.air-datepicker-cell.-month-:hover {
    outline:1px solid var(--green-color);
    outline-offset:-1px;
    color: var(--green-color);
}
.air-datepicker-nav--title.-disabled-:hover {
    color: var(--white-color);
}
.air-datepicker-cell.-year-:hover {
    color: var(--black-color);
}

.air-datepicker-nav {
    border-bottom: none;
}